
**/__pycache__/
**/.ipynb_checkpoints
**/wandb

# train folder
train/data/coco_gsam_img/train/*.jpg
train/data/coco_gsam_seg
train/results

# data prorpocess
**/*.pth

# mg folder
**/sample_imgs
**/sample_jsons
